<h1 class="text-4xl">Articles</h1>

<% @articles.each do |article| %>
  <%= render_card title: article.title,
  subtitle: "Last updated at #{article.updated_at.to_formatted_s(:long)}",
  body: "Some exciting preview",
  footer: render_button("Read more", as: :link, href: article_path(article), variant: "secondary")
   %>
<% end %>


<div>
  <%= render_button "New Article", as: :link, href: new_article_path %>
</div>
